---
 - name: install Docker Engine
   shell: yum -y install docker

 - name: start Docker
   service:
     name: docker
     state: started
     enabled: yes

 - name: clean from containers
   shell: docker rm -f $(docker ps -aq)


 - name: Pull the image
   shell: docker pull crussassin/point_12:app
 


 - name: download docker image
   shell: |
    docker run -d -p 5001:5000 crussassin/point_12:app
    docker run -d -p 5002:5000 crussassin/point_12:app
    docker run -d -p 5003:5000 crussassin/point_12:app    
   
 - name: Remove old image
   shell: docker image prune -f
